.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10px;
}

.title {
  color: white;
  margin-top: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

.occurence {
  color: gray;
  margin-bottom: 8px;
}

  .title:hover {
     color: #00F ;
  }
